<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Mster ISI</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" routerLink="">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="listproduit" routerLinkActive="btn-primary text-light">ListProduit</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="createproduit" routerLinkActive="btn-primary text-light">CreateProduit</a>
      </li>
    </ul>
  </div>
</nav>
